<!DOCTYPE html>
<html>
    <head>
        <title>Daemon Dash Web App</title>
    </head>
    <body>
        <div id="header">
            <h1 id="title">Web App Index</h1>
        </div>
        <button id="sign_up">Sign Up</button>
    </body>
</html>
