<!DOCTYPE html>
<html>
<head>
	
	<script src="/js/dependencies/jquery-2.1.4.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="/js/dependencies/sails.io.js"></script>
	<script src="/js/organization.js"></script>
	<link rel="stylesheet" type="text/css" href="styles/organization.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div><h1 id="head">Organizational Account of </h1></div>
	</nav>
	<div class="container" id="list-container">
		<div class="row">
			<form id="form" role="form">
				<div class="col-lg-6">
					<div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
					<div class="form-group">
						<label for="InputName">Enter Name of Event</label>
						<div class="input-group">
							<input type="text" class="form-control" name="name" id="InputName" placeholder="Enter Name" required>
							<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
						</div>
					</div>
					<div class="form-group">
						<label for="InputEmail">Enter Organization Name</label>
						<div class="input-group">
							<input type="text" class="form-control" id="InputEmailFirst" name="organization" placeholder="Enter Email" required>
							<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
						</div>
					</div>
					<div class="form-group">
						<label for="InputEmail">Enter Compensation</label>
						<div class="input-group">
							<input type="text" class="form-control" id="InputEmailSecond" name="compensation" placeholder="Confirm Email" required>
							<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
						</div>
					</div>
					<div class="form-group">
						<label for="InputEmail">Date</label>
						<div class="input-group">
							<input type="text" class="form-control" id="date" name="date" placeholder="Add date/time" required>
							<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
						</div>
					</div>
					<div class="form-group">
						<label for="InputMessage">Description</label>
						<div class="input-group">
							<textarea name="description" id="InputMessage" class="form-control" rows="5"></textarea>
							<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
						</div>
					</div>
					<input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
				</div>
			</form>
		</div>
	</div>
	<ul id="list-group" class="list-group">
		<h4 class="list-group-item-heading">
			Event
		</h4>
	</ul>
	<div class="container" id="box">
		<div class="panel panel-default">
			<div class="panel-heading" id="name">
				Event name
			</div>
			<table class="table">
				<tr>
					<th><h3 class="tablehead">Date</h3></th>
					<td><h3 id="date"></h3></td>
				</tr>
				<tr>
					<th><h3 class="tablehead">Compensation</h3></th>
					<td><h3 id="compensation"></h3></td>
				</tr>		  
				<tr>
					<th><h3 class="tablehead">Volunteers</h3></th>
					<td><h3 id="volunteers"></h3></td>
				</tr>	
				<tr>
					<th><h3 class="tablehead">Description</h3></th>
					<td><h3 id="description"></h3></td>
				</tr>     
			</table>
		</div>
	</div>
</div>
</body>
</html>
