<!DOCTYPE html>
<html>
<h1 id="head">Personal Account of </h1>
<div id="event-list">
</div>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/personal.js"></script>
<link rel="stylesheet" type="text/css" href="styles/personal.css">
</head>
</html>