<h1>Personal Account of <div id="user-name"></div></h1>
<div id="event-list">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/personal.js"></script>
