<!DOCTYPE html>
<html>
<head>
  <title>Personal Account of</title>
  <script src="/js/dependencies/jquery-2.1.4.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/personal.js"></script>
  <link href="/styles/personal.css" rel="stylesheet" type="text/css">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div><h1 id="head">Personal Account of </h1></div>
  </nav>
  <div class="container" id="box">
   <div class="panel panel-default">
     <!-- Default panel contents -->

     <!-- Table -->
       <div class="panel-heading" id="titlehead">
        Event name
      </div>
      <table class="table">
       <tr class="hr">
        <th><h3 class="tablehead">Time</h3></th>
        <td><h3>December 24th, 2015</h3></td>
      </tr>
      <tr>
        <th><h3 class="tablehead">Location</h3></th>
        <td><h3>Maryland, College Park</h3></td>
      </tr>
      <tr>
        <th><h3 class="tablehead">Description</h3></th>
        <td><h3>This is the description of the event, such as the weather people food blah blah blabh.</h3></td>
      </tr>		    			
    </table>
    <input type="submit" name="submit" id="submit" value="Join!" class="btn btn-info pull-right">
  </div>
</div><ul id="list-group" class="list-group">
  <h4 class="list-group-item-heading">
    Volunteer Requests
  </h4>
</ul>
<div>
</div>
</div>
</body>
