<!DOCTYPE html>
<html>
	<head>    
    	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
  	  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    	<link rel="stylesheet" type="text/css" href="/styles/signup.css">
	</head>
	<body>
    	<div class="testbox">
        	<h1>Registration</h1>

    		<form id="signup-form" action="/user/create" method="post">
        		<hr>
           		<div class="accounttype">
            		<input type="radio" value="volunteer" id="radioOne" name="account" checked/>
            		<label for="radioOne" class="radio" chec>Volunteer</label>
            		<input type="radio" value="organizer" id="radioTwo" name="account" />
            		<label for="radioTwo" class="radio">Organizer</label>
        		</div>
        		<hr>
    			<label id="icon" for="email"><i class="icon-envelope "></i></label>
    			<input type="text" name="email" id="email" placeholder="Email" required/>

    			<label id="icon" for="name"><i class="icon-user"></i></label>
    			<input type="text" name="name" id="name" placeholder="Name" required/>

    			<label id="icon" for="password"><i class="icon-shield"></i></label>
    			<input type="password" name="password" id="password" placeholder="Password" required/>

    			<div class="gender">
    				<input type="radio" value="None" id="male" name="gender" checked/>
   		 			<label for="male" class="radio" chec>Male</label>
    
    				<input type="radio" value="None" id="female" name="gender" />
    				<label for="female" class="radio">Female</label>
    			</div> 
    			<a href="#" class="button" onclick="this.parentNode.submit()">Register</a>
    		</form>
    	</div>
	</body>
    <!-- SCRIPTS HERE -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/signup/form.js"></script>
</html>
