<!DOCTYPE html>
<html>
    <head>
        <title>Daemon Dash Web App</title>
    </head>
    <body>
        <div id="header">
            <h1 id="title">Web App Signup</h1>
            <p>
            	Alex was here (test)
            </p>
        </div>
    </body>
</html>

