html {
    background-color: #66aaa8;
}
body {
	background-color: #66aaa8;
}

.navbar {
	background-color:#2F3235;
	color:#ffffff;
	border:none;
}
#submit {
	font-size:25px;
	background-color:#2F3235;
	font-weight:bold;
}
.vcenter {
	display: inline-block;
    vertical-align: middle;
    margin:auto;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.container {
	margin-top: 285px;
	text-align: center;
	vertical-align: middle;
}
#head {
	text-align:left;
	padding-left:25px;
	padding-bottom:7px;
}
h3{
	font-size:30px;
}